$fuente: 'Aboreto', cursive;
$fuente2: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$borde: 30px;
$colores:(
    "negro":rgb(0, 0, 0),
    "blanco": white,
    "especial": aliceblue
);
$tamañofuente: 16px;

